body {
  background-color: aquamarine;
}

.trash-place {
  position: relative;
}

.trash-can {
  position: relative;
  top: 20px;
  left: 10px;
  width: 60px;
}
.trash-can img {
  max-width: 60px;
}
.trash-bag {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
