body {
  display: flex;
  flex-wrap: wrap;
}

.first {
  border: 1px solid black;
}

.second {
  border: 1px solid black;
}

.honey-im-home {
  border: 1px solid black;
}

.trash-place {
  position: relative;
  min-width: 300px;
  min-height: 20vh;
  background-color: aquamarine;
  border: 1px solid black;
}

.trash-can {
  position: relative;
  top: 20px;
  left: 10px;
  width: 60px;
}
.trash-can img {
  max-width: 60px;
}
.trash-bag {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.trash-bag img {
  width: 30px;
}
